<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Main Admin Page</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <style>
        .navbar-brand {
            color: white !important;
        }
    </style>
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand">Admin Panel</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/adresy_admin}">Adresy
                        <span class="sr-only">(current)</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/czlonkowie_klubu_admin}">Członkowie Klubu</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/index}">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Main</a>
                </li>

                <li class="nav-item">
                    <form method="post" th:action="@{/index}" class="form-inline my-2 my-lg-0">
                        <button class="btn btn-primary" type="submit" onclick="successfullyLogout()" value="Sign Out">Logout
                        </button>
                    </form>
                </li>

            </ul>
        </div>
    </div>
</nav>

<div align="center">
    <h1>Adresy</h1>
    <!-- Page header -->
    <a href="/new_adres">Dodaj nowy adres</a>
    <br/><br/>
<!-- Table -->
<table border = "1" cellpadding = "10">
    <style>
        th, td {
            text-align: center; /* Centrowanie tekstu w poziomie */
            vertical-align: middle; /* Centrowanie tekstu w pionie */
        }
    </style>

    <!-- Table header -->
    <thead>
    <tr> <!-- Table row -->
        <th>Nr_adresu</th> <!–- Table column -->
        <th>Kraj</th>
        <th>Miasto</th>
        <th>Ulica</th>
        <th>Nr_budynku</th>
        <th>Nr_lokalu</th>
        <th>Kod_pocztowy</th>
        <th>Action</th>
    </tr>
    </thead>
    <!-- Table body -->
    <tbody>
    <tr th:each = "adres : ${listAdres}">
        <td th:text = "${adres.nr_adresu}">Nr_adresu</td>
        <td th:text = "${adres.kraj}">Kraj</td>
        <td th:text = "${adres.miasto}">Miasto</td>
        <td th:text = "${adres.ulica}">Ulica</td>
        <td th:text = "${adres.nr_budynku}">Nr_budynku</td>
        <td th:text = "${adres.nr_lokalu}">Nr_lokalu</td>
        <td th:text = "${adres.kod_pocztowy}">Kod_pocztowy</td>
        <td>
            <a th:href="@{'/edit_adres/' + ${adres.nr_adresu}}">Edit</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a th:href="@{'/delete_adres/' + ${adres.nr_adresu}}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</div>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/script.js}"></script>
</body>
</html>