<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edytuj Członka Klubu i Adres</title>
</head>
<body>
<div align="center">
    <h1>Edytuj Członka Klubu i Adres</h1>
    <br/>
    <form action="#" th:action="@{/update_user_with_address}" th:object="${userRegistration}" method="post">
        <h2>Dane Członka Klubu</h2>
        <table border="1" cellpadding="10">
            <tr>
                <td>Nr_czlonka_klubu</td>
                <td><input type="text" th:field="*{czlonek.nr_czlonka_klubu}" readonly="readonly"></td>
            </tr>
            <tr>
                <td>Imie</td>
                <td><input type="text" th:field="*{czlonek.imie}" maxlength="20" required pattern="[A-Za-z]+" title="Dozwolone tylko litery."/></td>
            </tr>
            <tr>
                <td>Nazwisko</td>
                <td><input type="text" th:field="*{czlonek.nazwisko}" maxlength="30" required pattern="[A-Za-z]+" title="Dozwolone tylko litery."/></td>
            </tr>
            <tr>
                <td>Pesel:</td>
                <td><input type="text" th:field="*{czlonek.pesel}" pattern="\d{11}" title="PESEL musi mieć dokładnie 11 cyfr." maxlength="11"/></td>
            </tr>
            <tr>
                <td>Data_urodzenia:</td>
                <td><input type="date" th:field="*{czlonek.data_urodzenia}" required/></td>
            </tr>
            <tr>
                <td>Data_dołączenia:</td>
                <td><input type="date" th:field="*{czlonek.data_dolaczenia}" required/></td>
            </tr>
            <tr>
                <td>Data_odejścia:</td>
                <td><input type="date" th:field="*{czlonek.data_odejscia}"/></td>
            </tr>
            <tr>
                <td>Plec:</td>
                <td>
                    <select th:field="*{czlonek.plec}" required>
                        <option value="M">Mężczyzna</option>
                        <option value="K">Kobieta</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Telefon:</td>
                <td><input type="tel" th:field="*{czlonek.telefon}" pattern="\d{9}" title="Numer telefonu musi mieć 9 cyfr." required/></td>
            </tr>
        </table>

        <h2>Dane Adresowe</h2>
        <table border="1" cellpadding="10">
            <tr>
                <td>Nr_adresu</td>
                <td><input type="text" th:field="*{adres.nr_adresu}" readonly="readonly"/></td>
            </tr>
            <tr>
                <td>Kraj</td>
                <td><input type="text" th:field="*{adres.kraj}" required maxlength="20"/></td>
            </tr>
            <tr>
                <td>Miasto</td>
                <td><input type="text" th:field="*{adres.miasto}" required maxlength="30"/></td>
            </tr>
            <tr>
                <td>Ulica</td>
                <td><input type="text" th:field="*{adres.ulica}" required maxlength="40"/></td>
            </tr>
            <tr>
                <td>Nr Budynku</td>
                <td><input type="text" th:field="*{adres.nr_budynku}" required maxlength="6"/></td>
            </tr>
            <tr>
                <td>Nr Lokalu</td>
                <td><input type="text" th:field="*{adres.nr_lokalu}" maxlength="5"/></td>
            </tr>
            <tr>
                <td>Kod Pocztowy</td>
                <td><input type="text" th:field="*{adres.kod_pocztowy}" required pattern="\d{2}-\d{3}" title="Kod pocztowy musi mieć format 00-000."/></td>
            </tr>
        </table>

        <button type="submit">Zapisz</button>
    </form>
</div>
</body>
</html>
