<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nowy Adres</title>
</head>
<body>
<div align="center">
    <!-- Page header -->
    <h1>Podaj nowy adres</h1>

    <br/>
    <!-- End line/new line -->
    <form action="@{/save_adres}" th:action="@{/save_adres}" th:object="${adres}" method="post">
        <!-- Table -->
        <table border="1" cellpadding="10">
            <!-- Table row -->
            <tr>
                <td>Kraj</td>
                <td><input type="text" th:field="*{kraj}" required maxlength="20"/></td>
            </tr>
            <tr>
                <td>Miasto</td>
                <td><input type="text" th:field="*{miasto}" required maxlength="30"/></td>
            </tr>
            <tr>
                <td>Ulica</td>
                <td><input type="text" th:field="*{ulica}" required maxlength="40"/></td>
            </tr>
            <tr>
                <td>Nr Budynku</td>
                <td><input type="text" th:field="*{nr_budynku}" required maxlength="6"/></td>
            </tr>
            <tr>
                <td>Nr Lokalu</td>
                <td><input type="text" th:field="*{nr_lokalu}" maxlength="5"/></td>
            </tr>
            <tr>
                <td>Kod Pocztowy</td>
                <td><input type="text" th:field="*{kod_pocztowy}" required pattern="\d{2}-\d{3}" title="Kod pocztowy musi mieć format 00-000."/></td>
            </tr>

            <!-- Button save -->
            <tr>
                <td colspan="2"><button type="submit">Zapisz</button></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>
