<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div align="center">
    <h1>Edytuj Adres</h1>
    <br/>
    <form action="#" th:action="@{/update}" th:object="${adres}" method="post">
        <table border="1" cellpadding="10">
            <tr>
                <td>Nr_adresu</td>
                <td><input type="text" th:field="*{nr_adresu}" readonly="readonly"></td>
            </tr>
            <tr>
                <td>Kraj:</td>
                <td><input type="text" th:field="*{kraj}"/></td>
            </tr>
            <tr>
                <td>Miasto:</td>
                <td><input type="text" th:field="*{miasto}"/></td>
            </tr>
            <tr>
                <td>Ulica:</td>
                <td><input type="text" th:field="*{ulica}"/></td>
            </tr>
            <tr>
                <td>Nr_budynku:</td>
                <td><input type="text" th:field="*{nr_budynku}"/></td>
            </tr>
            <tr>
                <td>Nr_likalu:</td>
                <td><input type="text" th:field="*{nr_lokalu}"/></td>
            </tr>
            <tr>
                <td>Kod_pocztowy:</td>
                <td><input type="text" th:field="*{kod_pocztowy}"/></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Save</button> </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>